
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap'); /* font-family: 'Encode Sans Expanded', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap'); /* Crimson / Text */ 

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap'); /* Chakra Petch */



body{
    padding: 25px 100px;
    background-color:rgb(197, 205, 203);
    color: #000;
}

input {
    background-color: white;
    color:#000;
}

.infoHeader{
    margin: 22px 20px;
    margin-bottom: 0;
}

/*
    *Buttons and inputs
*/
.type-writter{
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}
.editButton{
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer; 
}

.infoDeletingButton, .infomationAddingButton {
    display: block;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    font-weight: 1000px;
}

.infomationAddingButton {
    color: white;
    font-weight: 1000px;
}

.infomationAddingButton, editButton {
    background-color: rgb(87, 87, 255);
}


.infoDeletingButton {
    color: black;
    background-color: rgb(253, 140, 140);
}


/*
    *SAR EDIT BUTTONS
*/

.sar-container {
    display: flex;
    align-items: center; 
}

.sarDel-btn{
    color:red;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    font-weight: 1000px;
    background-color: white;
}
.sarADD-btn{
    color:blue;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    font-weight: 1000px;
    background-color: white;
}

.sar-input {
    width: 90% !important;
}


/*
    *Select button for edit/close
*/
select {
    width: 65px;
    height: 25px;
    margin: 28px 15px;
    color:#000;
    font-weight: 100;
    background-color: #ccc;
    
}

/*
    *Information editor box
*/
.informationEditor{
    margin-left: 10px;
    border: 1px dotted black;
    padding: 10px;
}

.informationEditor label {
    display: flex;
    flex-direction: column;
    padding:2px;
    
}

.informationEditor label input {
    background-color: white; 
    color: black; 
    padding: 5px;
}


/*
    *Input information
*/

.app-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.header-container {
    display: flex;
    justify-content: space-between;
}

.editor-header {
    margin-top: 20px;
}
.editor-display {
    width:550px;
    background-color: whitesmoke;
    flex-shrink: 0;
}

.resume-display {
    width: 960px; 
    height: 350mm; 
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
    flex-shrink:0;
    font-family: 'Encode Sans Expanded', sans-serif;
}


/*
    *ResumeInfo Personal Part

*/

.personal-header{
    text-align: center;
    margin-top: 10px; 
    font-size: 40px;
    margin-bottom: 5px;
}
.personal-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 2px;
    margin: 5px 55px;
}


/*
    *Common Header
*/
.header-education, .header-experiance, .header-projects, .header-skills{
    margin-top: 10px; 
    font-size: 22px;
    margin: 17px 40px 0px 40px;
    font-weight: bold;
}

.body-education, .body-experiance, .body-projects, .body-skills{
    margin-left:44px;
    margin-right:30px;
    padding:0px;
}

.education-details, .experiance-details, .projects-details{
    display: flex;
    justify-content: space-between;
}

/*
    *Education Part
*/


.education-school {
    margin-top: 2px; 
    margin-bottom:0%; 
    font-weight:700;
    font-size: medium;
}

.education-school .educational-location {
    font-weight: normal;
}


.education-degree{
    margin-top: 0%;
    margin-bottom: 3px;
}

/*
    *Experiance Part
*/


.experiance-position{
    margin-top:2px;
    margin-bottom:0%;
}
.experiance-company{
    margin-top:0%;
    margin-bottom:0%;
    font-size: medium;
}
.experiance-sars{
    margin-top: 0%;
    margin-bottom: 3px;
}

/*
    *Projects Part
*/

.projects-title{
    margin-top:2px;
    margin-bottom:0%;
    font-size: medium;
}

.projects-sars{
    margin-top: 0%;
    margin-bottom: 3px;
}

/*
    *Skills Part
*/
.header-skills{
    margin-bottom:0px;
}
.skills-details {
    margin-top:0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.skill-title {
    margin-top:2px;
    margin-bottom:0%;
    font-size: medium;
}
.skill-stack {
    margin-top: 0;
    margin-bottom: 0;
    font-size: medium;
}

.start-end {
    display: flex;
    white-space: nowrap;
}



