
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap');

body{
    padding: 25px 100px;
    background-color:rgb(230, 234, 233);
    color: #000;
}

.infoHeader{
    margin: 22px 20px;
    margin-bottom: 0;
}


/*
    *Select button for edit/close
*/
select {
    width: 65px;
    height: 25px;
    margin: 28px 15px;
    color:#000;
    font-weight: 100;
    background-color: #ccc;
    
}

/*
    *Information editor box
*/
.informationEditor{
    margin-left: 10px;
    border: 1px dotted black;
    padding: 10px;
}

.informationEditor label {
    display: flex;
    flex-direction: column;
    padding:2px;
    
}

.informationEditor label input {
    background-color: white; 
    color: black; 
    padding: 5px;
}


/*
    *Input information
*/

.app-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.header-container {
    display: flex;
    justify-content: space-between;
}

.editor-display {
    width:550px;
    background-color: whitesmoke;
    flex-shrink: 0;
}

.resume-display {
    width: 960px; /* width of A4 paper */
    height: 297mm; /* height of A4 paper */
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
    flex-shrink:0;
    font-family: 'Encode Sans Expanded', sans-serif;
}


/*
    *ResumeInfo Personal Part
    *Header font Must Be edited
*/

.personal-header{
    text-align: center;
    margin-top: 10px; 
    font-size: 40px;
    margin-bottom: 5px;
}
.personal-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 2px;
    margin: 5px 55px;
}


/*
    *Common Header
*/
.header-education, .header-experiance, .header-projects{
    margin-top: 10px; 
    font-size: 20px;
    margin: 17px 40px 0px 40px;
    font-weight: bold;
    color:red;
}

.body-education, .body-experiance, .body-projects{
    margin-left:40px;
    margin-right:30px;
    padding:0px;
}

.education-details, .experiance-details, .projects-details {
    display: flex;
    justify-content: space-between;
}

/*
    *Education Part
*/


.education-school {
    margin-top: 2px; 
    margin-bottom:0%; 
    font-weight:900;
}

.education-school .educational-location {
    font-weight: normal;
}


.education-degree{
    margin-top: 0%;
    margin-bottom: 3px;
}

/*
    *Experiance Part
*/


.experiance-position{
    margin-top:2px;
    margin-bottom:0%;
}
.experiance-company{
    margin-top:0%;
    margin-bottom:0%;
}
.experiance-sars{
    margin-top: 0%;
    margin-bottom: 3px;
}

/*
    *Projects Part
*/

.projects-title{
    margin-top:2px;
    margin-bottom:0%;
}

.projects-sars{
    margin-top: 0%;
    margin-bottom: 3px;
}







